{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проверка пароля</title>
    <link rel="stylesheet" href="{% static 'form_styles.css' %}" type="text/css">
</head>
<body>
<div class="form-container">
<h2>Введите пароль</h2>

<form method="post">
    {% csrf_token %}
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
</div>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
</body>
</html>
