{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form_styles.css' %}" type="text/css">
    <style>
        table {
  display: table;
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th,td {padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;text-align: center;}
h3 {color: #fff;text-align: center;margin-bottom: 20px;}
    </style>
    <title>Успеваемость студента</title>
</head>
<body>
<h1>Проверка успеваемости студента</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Показать успеваемость</button>
    </form>
</div>
{% if performances %}
<h2>Успеваемость:</h2>
<table>
    <tr>
        <th>Предмет</th>
        <th>Экзамен</th>
        <th>Зачет</th>
    </tr>
    {% for performance in performances %}
    <tr>
        <td>{{ performance.id_subject }}</td>
        <td>{{ performance.Exam }}</td>
        <td>{{ performance.Zachet }}</td>
    </tr>
    {% endfor %}
</table>
{% elif performances is not None %}
<p>Успеваемость не найдена.</p>
{% endif %}
</body>
</html>
